@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary: #FF6636;
    --color-primary-dark: #CC522B;
    --color-primary-light: #FFDDD1;
    --text-white: #FFFFFF;
    --color-black: #1D2026;
    --color-black-light: #262932;
}